html {
	height: 100%
}

body {
	background-color: #fff;
	font-family: sans-serif;
	height: 100%;
}

h1 {
	font-weight: normal;
	font-size: 140%;
}

.no-padding {
	padding: 0px;
}

.preview {
	padding: 30px;
	height: 50%;
	width: 100%;
	background-color: #f5f5f5;
	overflow: auto;	
}

.buttons-box {
	height: 50%;
	width: 100%;
	background-color: #333333;
	overflow: auto;
	border-right: 1px solid #4c4b4b;
}

.compiler {
	height: 50%;
	width: 100%;
	background-color: #333333;
}

.obsi-button {
	width: 100%;
    border-radius: 0px;
    border: none;
    background-color: #333333;
    color: whitesmoke;	
}

.obsi-button:hover {
	background-color: #333333;
	color: whitesmoke;
}

.reset-button {
	background-color: #923737;
}

.reset-button:hover {
	background-color: #923737;
	color: white;
}

.run-button {
	background-color: #559237;
}

.run-button:hover {
	background-color: #559237;
	color: white;
}

.xml-button {
	background-color: #378992;
}

.xml-button:hover {
	background-color: #378992;
	color: white;
}




